.header-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .search-input-container {
        width: calc(100%/4);
        min-width: 200px;
    
        mat-form-field {
            width: 90%;
        }
    }
}

.p-relative {
    position: relative;
}

.pb-64 {
    padding-bottom: 64px;
}

.p-fixed {
    position:fixed;
}

.w-100 {
    width: 100%;
}

.index-2 {
    z-index: 2;
}